.listItem {
  animation: fadeInUp .3s forwards;
  animation-delay: 0.5s;
  background-color: $color-box;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0 #000;
  margin: 13px 0;
  opacity: 0;
  padding: 18px;

  @media (min-width: $breakpoint-tablet) {
    padding: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-recoveredWrapper {
    display: flex;
  }

  &-statsItem {
    display: flex;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $breakpoint-tablet) {
      flex-direction: column;
      margin-bottom: 0;
      text-align: left;
    }

    .percent {
      display: flex;
    }

    .minus {
      color: $color-red;
    }

    .equal {
      color: $color-orange;
    }

    .minus,
    .plus,
    .equal {
      cursor: context-menu;
      font-size: 21px;
      line-height: 18px;
      margin-bottom: -5px;
      margin-right: 5px;
    }

    .title,
    .percent {
      margin-right: 5px;
    }
  }

  &-stats,
  &-titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }

  &-stats {
    font-size: $font-size-s;
    line-height: 21px;
  }

  &-titleWrapper {
    display: flex;
    margin-bottom: 10px;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 13px;
    }
  }

  &-title {
    align-items: center;
    display: flex;
  }

  &-countryname {
    margin: 0 0 0 10px;
  }

  &-alertWrapper {
    display: flex;
    flex-direction: column;
  }

  &-noDeaths,
  &-noData {
    align-self: flex-start;
    background-color: $color-green;
    font-size: $font-size-xs;
    padding-top: 5px;

    @media (min-width: $breakpoint-tablet) {
      align-self: flex-end;
      padding-top: 0;
    }
  }

  &-noData {
    align-self: flex-start;
    background-color: $color-red;
    font-weight: 800;

    @media (min-width: $breakpoint-tablet) {
      align-self: flex-end;
    }
  }

  .deaths {
    &-number {
      color: $color-red;
      font-weight: 800;
    }
  }

  &--filterIsActive {
    font-weight: 800;
  }

  img {
    max-height: 25px;
    max-width: 30px;
  }
}
