.listItem {
  animation: fadeInUp .3s forwards;
  animation-delay: 0.5s;
  background-color: $color-box;
  // border: 1px solid #242742;
  border-radius: 12px;
  box-shadow: 3px 3px 5px 0 #000;
  margin: 13px 0;
  opacity: 0;
  padding: 20px;

  &-statsItem {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
      text-align: left;
    }
  }

  &-stats,
  &-titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }

  &-stats {
    line-height: 21px;
  }

  &-titleWrapper {
    margin-bottom: 10px;
  }

  &-title {
    align-items: center;
    display: flex;

    h2 {
      margin: 0 0 0 10px;
    }
  }

  &-noDeaths,
  &-noData {
    background-color: $color-green;
    font-size: $font-size-xs;
    padding-top: 5px;

    @media (min-width: $breakpoint-tablet) {
      padding-top: 0;
    }
  }

  &-noData {
    background-color: $color-red;
    font-weight: 800;
  }

  .deaths {
    &-number {
      color: $color-red;
      font-weight: 800;
    }
  }

  &--filterIsActive {
    font-weight: 800;
  }

  img {
    max-height: 25px;
    max-width: 30px;

    @media (min-width: $breakpoint-tablet) {
      max-height: 30px;
      max-width: 40px;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
