.filter {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &-checkbox {
    align-items: center;
    color: $color-red;
    display: flex;
    font-size: $font-size-s;
    font-weight: 800;
    margin: 0 0 3px -3px;

    @media (min-width: $breakpoint-tablet) {
      margin: 0 0 0 6px;
    }

    input {
      margin-right: 7px;
    }
  }
}

.filterListWrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0 0 10px;
  }
}

.filterList {
  display: flex;
  flex-direction: column;
  width: fit-content;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    width: unset;
  }

  &-item {
    cursor: pointer;
    font-size: $font-size-s;
    margin-bottom: 3px;
    position: relative;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
      margin-right: 10px;
    }

    @media (min-width: $breakpoint-tablet-horizontal + 1) {
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }

    &::after {
      background-color: $color-green;
      bottom: -2px;
      content: "";
      height: 2px;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: opacity 0.3s;
      width: 100%;
    }

    &--active {
      font-weight: 800;

      &::after {
        opacity: 1;
      }
    }
  }

  &-label {
    font-size: $font-size-s;
    font-weight: 800;
    margin-bottom: 3px;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  &-subtitle {
    display: inherit;
    font-size: $font-size-xs;
    font-style: italic;
    text-align: right;
    padding: 5px 12px 0 0;
  }
}