@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Nunito+Sans:wght@200;400;800&display=swap');
@import './assets/styles/variables';
@import './components/GlobalStats/style';
@import './components/Filter/style';
@import './components/ListItem/style';
@import './components/Header/style';
@import './components/Loading/style';

html,
body {
  background-color: $color-background;
  color: $color-text;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  font-weight: 500;
}

h2, .h2 {
  font-size: $font-size-l;

  @media (min-width: $breakpoint-tablet) {
    font-size: 26px;
 }
}

h3, .h3 {
}

a {
  color: $color-text;
  text-decoration: none;
}

.resetList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  margin-top: 0 !important;
}

.componentSpacing {
  margin: $component-spacing-mobile 0;

  @media (min-width: $breakpoint-tablet-horizontal) {
     margin: $component-spacing 0;
  }
}

.highlighted {
  color: $color-green;
  font-weight: 800;
}

.highlightTag {
  color: $color-background;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 800;
  justify-content: center;
  margin-top: 8px;
  padding: 3px 6px;
  width: fit-content;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 $gutter-mobile;

  @media (min-width: $breakpoint-tablet-horizontal) {
    padding: 0 $gutter-desktop;
  }
}