@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Nunito+Sans:wght@200;400;800&display=swap");
.globalStats {
  display: flex;
  justify-content: center; }

.filter {
  display: flex;
  justify-content: space-between; }

.filter-checkbox {
  margin-left: 10px; }

.filterList {
  display: flex; }

.filterList .filterListWrapper {
  display: flex;
  flex-direction: column; }

.filterList-item {
  cursor: pointer;
  margin-right: 10px; }

.filterList-item--active {
  font-weight: bold; }

.filterList-subtitle {
  display: inherit;
  font-size: 10px;
  font-style: italic;
  text-align: right;
  padding: 5px 12px 0 0; }

img {
  width: 50px; }

.listItem {
  border: 1px solid;
  border-radius: 4px;
  margin: 10px;
  padding: 10px; }

.listItem-title {
  display: flex; }

.listItem-title h2 {
  margin: 0 0 0 10px; }

html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Nunito Sans', sans-serif; }

a {
  color: #FFFFFF;
  text-decoration: none; }

.resetList {
  list-style: none;
  margin: 0;
  padding: 0; }

.list {
  margin-top: 0 !important; }

.componentSpacing {
  margin: 50px 0; }

@media (min-width: 1024px) {
  .componentSpacing {
    margin: 100px 0; } }

.highlighted {
  color: #41B853;
  font-weight: 800; }
