$breakpoint-mobile-horizontal: 480px;
$breakpoint-mobile-wide: 575px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1260px;
$breakpoint-desktop-wide: 1440px;

$color-accent: #1c2730;
$color-background: #161B40;
$color-green: #41B853;
$color-text: #FFFFFF;
$color-text-alternative: #c0c65a;

$gutter-mobile: 20px;
$gutter-desktop: 40px;

$content-max-width: 810px;

$component-spacing-mobile: 50px;
$component-spacing: 100px;