$breakpoint-mobile-horizontal: 480px;
$breakpoint-mobile-wide: 575px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1260px;
$breakpoint-desktop-wide: 1440px;

$color-background: #191919;
$color-box: rgba(255, 255, 255, 0.12);
$color-green: #00D39A;
$color-red: #FF6347;
$color-text: #FFFFFF;

$gutter-mobile: 20px;
$gutter-desktop: 40px;

$content-max-width: 810px;

$component-spacing-mobile: 50px;
$component-spacing: 100px;

$font-size-xs: 10px;
$font-size-s: 14px;
$font-size-l: 22px;
$font-size-xl: 28px;